$blue: #4285f4;
$red: #ea4335;
$green: #34a853;
$yellow: #fbbc05;
$dark: #202124;
$medium: #3c4043;
$light: #dadce0;
$very-light: #f8f9fa;

html {
  position: relative;
  min-height: 100%;

  body {
    padding-bottom: 60px;
    color: $medium;
    font-family: -apple-system, BlinkMacSystemFont, "Overpass", "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";

    header {
      padding: 0;
      border-bottom: 1px solid $light;

      h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    main {
      padding: 20px 1rem;

      form {
        input[type="text"] {
          border-radius: 24px;
          border: 1px solid $light;
          outline: none;
          height: 44px;
          padding: 10px 20px;
          width: 500px;
          max-width: 100%;

          &:hover,
          &:active,
          &:focus {
            box-shadow: 0 1px 6px $light;
          }
        }

        input[type="submit"] {
          background-color: $very-light;
          border-radius: 4px;
          border: 1px solid $very-light;
          height: 36px;
          padding: 0 16px;
          color: $medium;

          &:hover,
          &:active,
          &:focus {
            border-color: $light;
            box-shadow: 0 1px 1px $light;
          }
        }

        &#advanced-form {
          div#text-inputs {
            display: block;

            div.text-input {
              display: block;

              label,
              input[type="text"] {
                display: inline-block;
              }

              label {
                min-width: 200px;
                text-align: left;
              }

              input[type="text"] {
                width: 300px;
              }
            }
          }

          input[type="submit"] {
            background-color: $blue;
            color: $very-light;
            border: none;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      border-top: 1px solid $light;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $dark;
    }

    .navbar-expand-sm > .container,
    .container {
      margin: 0;
      padding: 0 5%;
      min-width: 100%;

      @media (max-width: 300px) {
        padding: 0;
      }
    }

    .col-12 {
      padding: 0;
    }

    .blue {
      color: $blue;
    }

    .red {
      color: $red;
    }

    .green {
      color: $green;
    }

    .yellow {
      color: $yellow;
    }
  }
}
